{% extends "learn_django/base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">用户创建</h3>
                            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        </div>

                        <form class="form-horizontal" action="." method="post">{% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="Save" />
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}