{% extends "learn_django/base.html" %}
{% load staticfiles %}

{% block body %} 
<body class="hold-transition login-page">
<div class="login-box" style="background: #d2d6de;">
  <div class="login-logo">
    <a href="../../index2.html"><b>中金</b> | 统一数据平台</a>
  </div>
  <div class="login-box-body">
    <form action="{% url 'auth:login' %}" method="post">
      {% csrf_token %}
      <div class="form-group has-feedback">
        <input name="username" type="username" class="form-control" placeholder="用户名">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input name="password" type="password" class="form-control" placeholder="密码">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">登录</button>
        </div>
      </div>
    </form>
  </div>
</div>
 <script src="{% static 'learn_django/plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
<script src="{% static 'learn_django/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'learn_django/plugins/iCheck/icheck.min.js' %}"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>
</body>
{% endblock %}

